
    <footer class="text-center py-5 bg-dark-subtle">
        <div class="row">
            <div class="col-lg-3 mb-3">
                <p class="text-muted"><span>The MASS4 logos are copyright ® {{ site.Copyright }} 2023-{{ "now" | date: "%Y" }} <a href="https://brunomassa.com">Bruno Massa</a></span></p>

                <p class="text-muted text-sm"><span>Site created with <a href="https://SuCoS.brunomassa.com"><img src="/SuCoS-logo.svg" height="16px" width="100px" alt="SuCoS badge" /></a><i>v{{ sucos.Version }}</i>.</span><em>{{ site.Params.Footer }}</em> Updated in {{ "now" | date: "%Y-%m-%d %H:%M" }}
                </p>
            </div>

            <div class="col-6 col-lg-2 mb-3">
                <h5>About</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a class="nav-link" href="/mega4">MEGA4</a></li>
                </ul>
            </div>

            <div class="col-6 col-lg-2 mb-3">
                <h5>Projects</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a class="nav-link" href="/guinevere">Guinevere</a></li>
                    <li class="mb-2"><a class="nav-link" href="/gaya">Gaya</a></li>
                    <li class="mb-2"><a class="nav-link" href="/turian">Turian</a></li>
                    <li class="mb-2"><a class="nav-link" href="/mystery">Mystery</a></li>
                </ul>
            </div>

            <div class="col-6 col-lg-2 mb-3">
                <h5>API</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a class="nav-link" href="/guinevere/api">Guinevere</a></li>
                </ul>
            </div>

            <div class="col-6 col-lg-2 mb-3">
                <h5>Community</h5>
                <ul class="list-unstyled">
                    {% assign socialNetworks = site.Params.SocialNetworks | where: 'footer', true %}
                    {% for socialNetwork in socialNetworks %}
                    <li class="mb-2">
                        <a rel="me" class="nav-link" href="{{ socialNetwork.url }}" id="link-{{ socialNetwork.id }}">
                            <i class=" bi {{ socialNetwork.icon_class }}"></i> {{ socialNetwork.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.Params.GoogleAnalytics }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', '{{ site.Params.GoogleAnalytics }}');
    </script>
